@tailwind base;
@tailwind components;
@tailwind utilities;

/* login and register page */
.form-login{
    background-image: url(./assets/img/promo-1.jpg);
background-repeat:no-repeat ;
background-size: cover;

}
.form-login .form {
    background-image: url(./assets/img/promo-1.jpg);
    background-size: 200%;
    background-repeat: no-repeat;
    opacity: 0.9;
    font-size: 30px;
    padding-top: 92px ;
}
.form-login .form-register{
    background-image: url(./assets/img/promo-1.jpg);
    background-size: 200%;
    background-repeat: no-repeat;
    opacity: 0.9;
    font-size: 30px;
    padding-top: 79px ;
}
/* coursePage */
.course-container .item-name{
background-color: #212A3E;
}
.course-container .item-course{
    transition: 0.5s;
}
.course-container .item-course:hover{
    transform: translateY(-7px);
}
/* pagination */
.pagination{
      list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 30px;
    font-size: 1rem;
    gap: 5px;
}
.pagination .page-num{
    padding: 4px 10px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
    transition: 0.5s;
    border:2px solid #5AB1BB;
}
.pagination .page-num:hover{
    background-color: #5AB1BB;
    color: #fff;
}
.pagination .active{
    background-color: #5AB1BB;
}
/* detailPage */
.detailPage .btn-dangKy:hover{
    background-color: #5AB1BB;
    color: white;
}
.detailPage .btn-dangKy{
    transition: 0.4s;
}
/* footer */
.footer .khoaHoc .li:hover,
.footer .lienKet .li:hover{
    transform: translateY(-2px);
    color:#5AB1BB ;
    cursor: pointer;
}
.footer .khoaHoc .li:hover,
.footer .lienKet .li{

    transition: all .5s;
}
.footer .tuVan .input:focus-visible{
    outline: none;
}
.footer .tuVan .input{
    background-color: #F5F5F5;
}
.footer .tuVan .input:focus{
    padding-left: 17px;
}
.footer .footer-end i{
    transition: 0.5s;
    cursor: pointer;
}
.footer .footer-end i:hover{
    box-shadow: 1px 2px 2px 1px #636363;
}